In [13]:
import git
import os

repo = git.Repo('.', search_parent_directories=True)
os.chdir(repo.working_tree_dir + '/src')

In [14]:
import numpy as np
import pandas as pd
from demos import prepare_data

In [2]:
#read and prepare wheater data
wheater_df = pd.read_csv('data/wheater_data.csv', parse_dates=True, index_col=0)
wheater_df = wheater_df.dropna(axis=1) #delete the rows where we have no information. all other columns have no NaN value

            tavg  tmin  tmax  prcp  wdir  wspd    pres
date
2022-06-01  16.5  10.0  22.0   0.1   281   9.9  1015.0
2022-06-02  16.8   8.4  22.3   0.0    56   7.2  1019.4
2022-06-03  19.9  14.6  27.7   0.5    79   9.4  1016.3
2022-06-04  20.8  14.5  25.8   0.0    67   6.7  1017.2
2022-06-05  20.1  16.9  23.1  12.3   147  11.9  1014.9
...          ...   ...   ...   ...   ...   ...     ...
2024-07-12  21.5  17.8  26.0  23.6   188  12.0  1011.1
2024-07-13  17.9  13.2  21.6   0.0   273   9.0  1013.7
2024-07-14  19.3  13.2  24.2   0.0   197   7.7  1014.3
2024-07-15  22.8  16.0  29.3   2.7   108   7.2  1012.0
2024-07-16  20.9  18.5  24.3  18.0   238  16.9  1014.2

[777 rows x 7 columns]

In [7]:
# read and prepare revenua and holiday data
revenue_df = pd.read_csv('data/revenue_data.csv', sep=';', parse_dates=True, index_col=0)
revenue_df = revenue_df.fillna(False)
revenue_df = revenue_df.replace(1,True)

/var/folders/g_/g33rwkmj63qbd7s1fwc4dz5w0000gn/T/ipykernel_14772/1700619963.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  revenue_df = revenue_df.replace(1,True)

/Users/jonasfischer/Library/CloudStorage/OneDrive-Persönlich/Projekte/Restaurant-Revenue-Forecasting

In [20]:
repo = git.Repo('.', search_parent_directories=True) #find parent directory of the git reposetory
wheater_path = repo.working_tree_dir + '/data/wheater_data.csv'
revenue_path = repo.working_tree_dir + '/data/revenue_data.csv'
prepare_data(wheater_path, revenue_path)

/Users/jonasfischer/Library/CloudStorage/OneDrive-Persönlich/Projekte/Restaurant-Revenue-Forecasting/src/demos.py:23: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  revenue_df = revenue_df.replace(1,True)

,tavg,tmin,tmax,prcp,wdir,wspd,pres,national_holiday,holiday,revenue,weekday,holiday_not_bw
date,,,,,,,,,,,,
2022-06-01,16.5,10.0,22.0,0.1,281,9.9,1015.0,False,False,1000,wednesday,False
2022-06-02,16.8,8.4,22.3,0.0,56,7.2,1019.4,False,False,1641,thursday,False
2022-06-03,19.9,14.6,27.7,0.5,79,9.4,1016.3,False,False,2254,friday,False
2022-06-04,20.8,14.5,25.8,0.0,67,6.7,1017.2,False,False,4306,saturday,False
2022-06-05,20.1,16.9,23.1,12.3,147,11.9,1014.9,False,False,4289,sunday,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2024-07-12,21.5,17.8,26.0,23.6,188,12.0,1011.1,False,False,2472,friday,False
2024-07-13,17.9,13.2,21.6,0.0,273,9.0,1013.7,False,False,5098,saturday,False
2024-07-14,19.3,13.2,24.2,0.0,197,7.7,1014.3,False,False,5235,sunday,False
2024-07-15,22.8,16.0,29.3,2.7,108,7.2,1012.0,False,False,1548,monday,False
2024-07-16,20.9,18.5,24.3,18.0,238,16.9,1014.2,False,False,2183,tuesday,False

In [8]:
pd.merge(wheater_df, revenue_df, left_index=True, right_index=True).head(10)

,tavg,tmin,tmax,prcp,wdir,wspd,pres,national_holiday,holiday,revenue,weekday,holiday_not_bw
date,,,,,,,,,,,,
2022-06-01,16.5,10.0,22.0,0.1,281,9.9,1015.0,False,False,1000,wednesday,False
2022-06-02,16.8,8.4,22.3,0.0,56,7.2,1019.4,False,False,1641,thursday,False
2022-06-03,19.9,14.6,27.7,0.5,79,9.4,1016.3,False,False,2254,friday,False
2022-06-04,20.8,14.5,25.8,0.0,67,6.7,1017.2,False,False,4306,saturday,False
2022-06-05,20.1,16.9,23.1,12.3,147,11.9,1014.9,False,False,4289,sunday,False
2022-06-06,18.7,14.5,23.0,0.7,243,12.7,1016.9,True,False,4884,monday,False
2022-06-07,18.2,14.8,23.2,1.2,236,9.3,1014.9,False,True,2037,tuesday,False
2022-06-08,16.9,12.7,22.0,0.8,223,10.3,1011.0,False,True,1875,wednesday,False
2022-06-09,15.5,11.7,19.3,0.1,275,10.5,1015.0,False,True,2121,thursday,False
2022-06-10,17.4,10.0,24.0,0.0,194,5.2,1022.8,False,True,2017,friday,False

In [6]:
revenue_df[revenue_df['national_holiday'] == True]

            national_holiday  holiday  revenue    weekday  holiday_not_bw
date
2022-06-06              True    False     4884     monday           False
2022-06-16              True     True     4278   thursday           False
2022-03-10              True    False     3636     monday           False
2022-10-31              True     True     3837     monday            True
2022-01-11              True     True     4117    tuesday           False
2022-12-24              True     True     2748   saturday            True
2022-12-25              True     True     2223     sunday            True
2022-12-26              True     True     3117     monday            True
2023-01-01              True     True     3214     sunday            True
2023-06-01              True     True     3385     friday           False
2023-07-04              True     True     3732     friday            True
2023-10-04              True     True     4288     monday           False
2023-01-05              True    False     4628     monday           False
2023-05-18              True    False     4094   thursday           False
2023-05-29              True    False     5331     monday            True
2023-08-06              True     True     4039   thursday           False
2023-03-10              True    False     4317    tuesday           False
2023-01-11              True     True     4680  wednesday           False
2023-12-25              True     True     2252     monday            True
2023-12-26              True     True     2456    tuesday            True
2024-01-01              True     True     3309     monday            True
2024-06-01              True    False     3695   saturday           False
2024-03-29              True     True     3656     friday            True
2024-01-04              True     True     3577     monday            True
2024-01-05              True    False     3952  wednesday           False
2024-09-05              True    False     4362   thursday           False
2024-05-20              True     True     5296     monday            True
2024-05-30              True     True     3185   thursday            True