In [2]:
import numpy as np
import pandas as pd

In [32]:
#read and prepare wheater data
wheater_df = pd.read_csv('data/wheater_data.csv', parse_dates=True, index_col=0)
wheater_df = wheater_df.dropna(axis=1) #delete the rows where we have no information. all other columns have no NaN value
wheater_df

            tavg  tmin  tmax  prcp  wdir  wspd    pres
date
2022-06-01  16.5  10.0  22.0   0.1   281   9.9  1015.0
2022-06-02  16.8   8.4  22.3   0.0    56   7.2  1019.4
2022-06-03  19.9  14.6  27.7   0.5    79   9.4  1016.3
2022-06-04  20.8  14.5  25.8   0.0    67   6.7  1017.2
2022-06-05  20.1  16.9  23.1  12.3   147  11.9  1014.9
...          ...   ...   ...   ...   ...   ...     ...
2024-07-12  21.5  17.8  26.0  23.6   188  12.0  1011.1
2024-07-13  17.9  13.2  21.6   0.0   273   9.0  1013.7
2024-07-14  19.3  13.2  24.2   0.0   197   7.7  1014.3
2024-07-15  22.8  16.0  29.3   2.7   108   7.2  1012.0
2024-07-16  20.9  18.5  24.3  18.0   238  16.9  1014.2

[777 rows x 7 columns]

In [31]:
# read and prepare revenua and holiday data
revenue_df = pd.read_csv('data/revenue_data.csv', sep=';', parse_dates=True, index_col=0)
revenue_df = revenue_df.fillna(False)
revenue_df = revenue_df.replace(1,True)

/var/folders/g_/g33rwkmj63qbd7s1fwc4dz5w0000gn/T/ipykernel_45852/1700619963.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  revenue_df = revenue_df.fillna(False)
/var/folders/g_/g33rwkmj63qbd7s1fwc4dz5w0000gn/T/ipykernel_45852/1700619963.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  revenue_df = revenue_df.replace(1,True)

In [34]:
pd.merge(wheater_df, revenue_df, left_index=True, right_index=True).head(10)

,tavg,tmin,tmax,prcp,wdir,wspd,pres,national holiday,holiday,revenue
date,,,,,,,,,,
2022-06-01,16.5,10.0,22.0,0.1,281,9.9,1015.0,False,False,False
2022-06-02,16.8,8.4,22.3,0.0,56,7.2,1019.4,False,False,False
2022-06-03,19.9,14.6,27.7,0.5,79,9.4,1016.3,False,False,False
2022-06-04,20.8,14.5,25.8,0.0,67,6.7,1017.2,False,False,False
2022-06-05,20.1,16.9,23.1,12.3,147,11.9,1014.9,False,False,False
2022-06-06,18.7,14.5,23.0,0.7,243,12.7,1016.9,True,False,False
2022-06-07,18.2,14.8,23.2,1.2,236,9.3,1014.9,False,False,False
2022-06-08,16.9,12.7,22.0,0.8,223,10.3,1011.0,False,False,False
2022-06-09,15.5,11.7,19.3,0.1,275,10.5,1015.0,False,False,False
2022-06-10,17.4,10.0,24.0,0.0,194,5.2,1022.8,False,False,False

In [25]:
revenue_df[revenue_df['national holiday'] == True]

            national holiday  holiday  revenue
date
2022-06-06              True    False    False
2022-06-16              True    False    False
2022-10-03              True    False    False
2022-11-01              True    False    False
2022-12-24              True    False    False
2022-12-25              True    False    False
2022-12-26              True    False    False
2023-01-01              True    False    False
2023-01-06              True    False    False
2023-04-07              True    False    False
2023-04-10              True    False    False
2023-05-01              True    False    False
2023-05-18              True    False    False
2023-05-29              True    False    False
2023-06-08              True    False    False
2023-10-03              True    False    False
2023-11-01              True    False    False
2023-12-24              True    False    False
2023-12-25              True    False    False
2023-12-26              True    False    False
2024-01-01              True    False    False
2024-01-06              True    False    False
2024-03-29              True    False    False
2024-04-01              True    False    False
2024-05-01              True    False    False
2024-05-09              True    False    False
2024-05-20              True    False    False
2024-05-30              True    False    False